table{
    border: 5px solid black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: auto;
    width: 460px;
    height: 240px;

}

td{
    border: solid 1px black;
    text-align: center;
}
tfoot{
    text-align: center;
    background-color: aquamarine;
}
h1{
    background-color: aquamarine;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}
body{
    background-color: rgb(170, 211, 128);
}